@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: oklch(0.4802 0.2012 260.48);
    --color-secondary: oklch(0.3726 0.0328 258.99);
    --color-tertiary: oklch(0.6959 0.1491 162.48);
    --color-neutral: oklch(0.2103 0.0294 266.12);
    --color-background: oklch(0.9696 0.0147 281.96);
}

.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    font-family: "Manrope", sans-serif;
}

body {
    background-color: oklch(0.9696 0.0147 281.96);
}