@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
    --color-primary: oklch(0.4802 0.2012 260.48);
    --color-secondary: oklch(0.3726 0.0328 258.99);
    --color-tertiary: oklch(0.6959 0.1491 162.48);
    --color-neutral: oklch(0.2103 0.0294 266.12);
    --color-background: oklch(0.9696 0.0147 281.96);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-primary-foreground: var(--primary-foreground);
}

:root {
    --background: 281.96 1.47% 96.96%;
    --foreground: 266.12 2.94% 21.03%;

    --primary: 260.48 20.12% 48.02%;
    --primary-foreground: 0 0% 100%;

    --secondary: 258.99 3.28% 37.26%;
    --secondary-foreground: 0 0% 100%;

    --tertiary: 162.48 14.91% 69.59%;

    --card: 0 0% 100%;
    --card-foreground: 266.12 2.94% 21.03%;

    --popover: 0 0% 100%;
    --popover-foreground: 266.12 2.94% 21.03%;

    --muted: 281.96 1.47% 90%;
    --muted-foreground: 266.12 2.94% 40%;

    --accent: 260.48 20.12% 95%;
    --accent-foreground: 260.48 20.12% 48.02%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 260.48 20.12% 48.02%;

    --radius: 0.75rem;
}

* {
    font-family: "Manrope", sans-serif;
}

body {
    background-color: oklch(0.9696 0.0147 281.96);
    color: oklch(0.2103 0.0294 266.12);
}

.inter {
    font-family: "Inter", sans-serif;
}

.manrope {
    font-family: "Manrope", sans-serif;
}